.display > tbody > tr > td{
    text-align:center;
}
.container {
    display: flex;
}
table {
    border-collapse: collapse;
    border-radius: 3px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #666; /* this draws the table border  */
}
td {
    border: 1px solid #ccc;
}
thead > tr {
    background-color: #286ab6;
    color: white;
}
thead > tr > th {
    border: 1px solid #ccc;
    border-bottom: none;
}
thead > tr > th:first-child {
    border-top-left-radius: 3px;
}
thead > tr > th:last-child{
    border-top-right-radius: 3px;
}
tbody > tr:first-child > td{
    border-top: none;
}
tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: 3px;
}
tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 3px;
}
tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.table-div {
    width: 60%;
}
.btn-div {
    width: 40%;
    padding: 10px;
}
.display {
    width:100%;
    font-size: 20px;
}
.higher {
    color: green;
}
.lower {
    color: red;
    font-size: 20px;
}